<div class="flex items-end  cursor-pointer py-10 my-10 border-t border-b border-dashed border-gray-400">
  <div class="p-2 w-3/12  md:w-2/12 lg:w-auto   relative  ">
    <img class="block cover_art aspect-square rounded-xl p-1 lg:h-20 lg:w-20" src="{{url_for('static',filename='im/carl.jpeg')}}" alt="Listen to Carl">
  </div>

  <div class="w-9/12 md:w-10/12 lg:w-auto text-xs py-2 px-4 rounded-2xl bg-primary text-[#101129] mb-10 relative">
    <div class="font-bold m-0 p-0">Hey You ! Yes, you.</div>
    Did you know that Set2Tracks automatically creates tracklists from DJ set videos ?
    <br>Then what are you waiting for ? 
    <br>
    <a class="underline font-bold" href="{{url_for('users.register')}}">Sign up for free</a> and take your track discovery game to the next level!
    <div class="absolute left-[-10px] top-3/4 transform -translate-y-1/2 w-0 h-0 
    border-t-[10px] border-t-transparent 
    border-b-[10px] border-b-transparent 
    border-r-[10px] border-r-primary">
</div>
  </div>
</div>