<!DOCTYPE html>
<html lang="en" data-theme="set2tracks">
<style>
    {
        # QnDirty fix to a mysterious page width problem on mobile Page would not take up all horizontal space+there is horizontal scrollbar Yet no element seems to cause an overflow @TODO : investigate that, when i retire, if i have time...and want to. #
    }

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ l.page_title|safe if l is defined and l.page_title is defined else 'no title' }}</title>
    <meta name="description" content="{{ l.page_description|safe if l is defined and l.page_description is defined else '' }}">
    {% if canonical_url %}
    <link rel="canonical" href="{{canonical_url}}">
    {% endif %}
    <link href="{{url_for('static',filename='css/tailwind/output.css')}}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {% if json_schema %}
    <script type="application/ld+json">
      {{json_schema|safe}}
    </script>
    {% endif %}
</head>

<body class="bg-primary-content min-h-screen lg:overflow-x-hidden p-0">
    <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
        <symbol id="icon-link-external" class="h-6 w-6" viewBox="0 0 8 10">
            <path class="fill-base-content hover:fill-primary" d="M7.625,3.5c-0.101,0-0.191-0.041-0.259-0.105C7.364,3.393,7.361,3.393,7.359,3.391  L6.427,2.458l-2.36,2.36c-0.244,0.243-0.64,0.243-0.884,0c-0.244-0.244-0.244-0.64,0-0.884l2.359-2.359L4.609,0.641  C4.607,0.639,4.607,0.636,4.605,0.634C4.541,0.566,4.5,0.476,4.5,0.375C4.5,0.168,4.668,0,4.875,0H7.5C7.776,0,8,0.224,8,0.5v2.625  C8,3.332,7.832,3.5,7.625,3.5z M1,2.25v4.5C1,6.888,1.112,7,1.25,7h4.5C5.888,7,6,6.888,6,6.75V4l1,1v2c0,0.553-0.447,1-1,1H1  C0.448,8,0,7.553,0,7V2c0-0.552,0.448-1,1-1h2l1,1H1.25C1.112,2,1,2.112,1,2.25z" />
        </symbol>
    </svg>
<div id="topMenuWrap" class="w-full  bg-[#101129] bg-opacity-90 fixed top-0 z-50">
    <div class="container mx-auto w-full md:pl-3 md:pr-3 lg:pl-5 lg:pr-5 xl:w-3/4 ">
        <header class=" w-full ">
            <nav id="navbar" class="mx-auto flex items-center justify-between py-3" aria-label="Global">
                <!-- Mobile menu button -->
                <div class="lg:hidden flex items-center px-4">
                    <input type="checkbox" id="mobile-menu-toggle" class="peer hidden" />
                    <label for="mobile-menu-toggle" class="cursor-pointer">
                        <svg class="h-8 w-8 text-gray-500 hover:text-gray-700" fill="none" stroke="#9E7FFF" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </label>
                </div>

                <div class="flex lg:flex-1 w-full items-center">
                    {% include 'logo.html' %}
                </div>
                <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                    <a target="_blank" rel="no_follow" href="https://www.reddit.com/r/Set2Tracks" class=" px-4 py-2 text-sm">
                        <img class="h-4 w-4 inline" src="{{url_for('static',filename='im/reddit-logo-2436.png')}}"> Feedback/Help</a>
                </div>

                <div class=" lg:flex lg:flex-1 lg:justify-end">
                    <div class="relative group">
                        <button class="text-sm font-semibold leading-6 py-2.5 px-4">
                            {% if current_user.is_authenticated %}
                            [{{ current_user.fname }}]
                            {% else %}
                            <span class="hidden lg:inline">Sign in</span> 
                            
                            <svg class="lg:hidden h-10 w-10" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 6C8 3.79086 9.79086 2 12 2H17.5C19.9853 2 22 4.01472 22 6.5V17.5C22 19.9853 19.9853 22 17.5 22H12C9.79086 22 8 20.2091 8 18V17C8 16.4477 8.44772 16 9 16C9.55228 16 10 16.4477 10 17V18C10 19.1046 10.8954 20 12 20H17.5C18.8807 20 20 18.8807 20 17.5V6.5C20 5.11929 18.8807 4 17.5 4H12C10.8954 4 10 4.89543 10 6V7C10 7.55228 9.55228 8 9 8C8.44772 8 8 7.55228 8 7V6ZM12.2929 8.29289C12.6834 7.90237 13.3166 7.90237 13.7071 8.29289L16.7071 11.2929C17.0976 11.6834 17.0976 12.3166 16.7071 12.7071L13.7071 15.7071C13.3166 16.0976 12.6834 16.0976 12.2929 15.7071C11.9024 15.3166 11.9024 14.6834 12.2929 14.2929L13.5858 13L5 13C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11L13.5858 11L12.2929 9.70711C11.9024 9.31658 11.9024 8.68342 12.2929 8.29289Z" fill="#9E7FFF"/>
                                </svg>
                            {% endif %}
                            <svg class="hidden lg:inline w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>

                        <!-- Dropdown menu with content-fitting width and text-right alignment -->
                        <div class="absolute hidden group-hover:flex group-hover:flex-col bg-primary-content border-2 border-slate-200 rounded-lg shadow-md mt-0 z-50 w-auto py-2 right-0">
                            {% if current_user.is_authenticated %}
                            <!-- <a href="#" class="block px-6 py-3 text-sm text-primary font-bold text-right whitespace-nowrap">Go Premium</a> -->
                            <a href="{{ url_for('users.logout') }}" class="block px-6 py-3 text-sm text-right">Logout</a>
                            {% else %}
                            <a href="{{ url_for('users.login') }}" class="block px-6 py-3 text-sm text-right">Sign in</a>
                            <a href="{{ url_for('users.register') }}" class="block px-6 py-3 text-sm text-right">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

                <!-- <div class="lg:hidden flex items-center px-4">
                    <div class="h-6 w-6 rounded-full">d</div>
                </div> -->


            </nav>

            <!-- Mobile menu -->
            <div id="mobile-menu" class="border-2 absolute left-0 right-0 bg-primary-content hidden peer-checked:flex flex-col lg:hidden z-50">
                <!-- <div class="pt-2 pb-3 space-y-1">
                    <a href="{{ url_for('set.sets') }}" class="block pl-3 pr-4 py-2 text-base font-medium">{{ _("Explore") }}</a>
                    <a href="{{ url_for('playlist.my_playlists') }}" class="block pl-3 pr-4 py-2 text-base font-medium">{{ _("My Playlists") }}</a>
                </div> -->

                <div class="pt-4 pb-3 border-t-2 border-slate-200">
                    <a target="_blank" rel="no_follow" href="https://www.reddit.com/r/Set2Tracks" class="block pl-3 pr-4 py-2 text-base font-medium">
                        <img class="h-4 w-4 inline" src="{{url_for('static',filename='im/reddit-logo-2436.png')}}"> Feedback/Help</a>
                </div>
                <div class="pt-4 pb-3 border-t-2 border-slate-200">
                    {% if current_user.is_authenticated %}
                    <!-- <a href="#" class="block pl-3 pr-4 py-2 text-base font-bold text-primary">Go Premium</a> -->
                    <a href="{{ url_for('users.logout') }}" class="block pl-3 pr-4 py-2 text-base font-medium">[{{ current_user.fname }}] | {{ _("Logout") }}</a>

                    {% else %}
                    <a href="{{ url_for('users.login') }}" class="block pl-3 pr-4 py-2 text-base font-medium text-gr">{{ _("Sign in") }}</a>
                    <a href="{{ url_for('users.register') }}" class="block pl-3 pr-4 py-2 text-base font-medium">{{ _("Register") }}</a>
                    {% endif %}
                </div>
            </div>
        </header>



</div>
<div class="container mx-auto w-full px-3 lg:px-5 xl:w-3/4">




        <main class="block min-h-screen mt-16">

            {% if not current_user.is_authenticated %}
            <div class=" mb-5 italic border border-primary p-6 rounded-lg hidden">Hey there, music lover !
                <br>Set2Tracks automatically creates tracklists from DJ set videos.
                Preview tracks, explore labels and genres, and grab Spotify and Apple Music links...
                It's free. Have fun discovering new tracks and DJs!
            </div>
            {% endif %}

            {% block content %}
            <!-- Page specific content will be inserted here -->
            {% endblock %}
        </main>

        <footer class="bg-gray-800 py-6 mt-52 mb-20 rounded-xl">
            <div class="container mx-auto px-4 text-white ">
                <div class="flex flex-wrap justify-between">

                    <div class="w-full m-1">
                        <p class="text-center mb-2">{{ current_year }}, Set2Tracks. <span class="discreet"></span></p>
                        <p class="text-center text-xs">
                            <!-- <a rel="no_follow" href="{{url_for('basic.pricing')}}">Pricing</a> -  -->
                            <a rel="no_follow" href="{{url_for('basic.terms_of_service')}}">Terms of Service</a> - <a rel="no_follow" href="{{url_for('basic.privacy_policy')}}">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <div id="overlay" class="hidden fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center transition-all duration-300">
        <div class="select-none flex items-center bg-black p-10 rounded-lg ring-2 ring-primary">
            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            Processing...
        </div>
    </div>

    <style>
        /* Define the initial state and the transition */
        #system-message {
            top: -100%;
            transition: top 1s ease-in-out;
        }

        #system-message.show {
            top: 0;
        }
    </style>
    {% set messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for category, message in messages %}
    <div id="system-message" class="show fixed w-full z-50  bg-{{category}} text-white p-4 text-center">

        <div class="message">{{ message }}</div>


        <button class="absolute top-1 right-1 text-white hover:text-gray-200 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>
    {% endfor %}
    {% else %}
    <div id="system-message" class="fixed w-full  z-50 bg-info text-white p-4 text-center transition-all duration-300">
        <div class="message"></div>

        <button class="absolute top-1 right-1 text-white hover:text-gray-200 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>
    {% endif %}



    {% if is_admin %}
    <div class="fixed bottom-0 right-0 bg-red-500 text-white p-2 rounded-tl-lg z-50">
        <a href="{{url_for('admin.admin')}}">Admin</a>

    </div>
    {% endif %}
    <audio id="notifSound">
        <source src="{{url_for('static',filename=notif_sound)}}" type="audio/mpeg">
    </audio>

</body>
{% include 'js_all_pages.html' %}
<script>
    SYSTEM_MESSAGE_TIMEOUT_MS = 5000;
    var textField = document.querySelector('form input[type="text"]');
    if (textField) {
        textField.focus();
    }
    let SystemMessagetimeoutID;
    const systemMessage = document.getElementById('system-message');
    const systemMessageContent = document.querySelector('#system-message .message');
    const sytemMessageCloseButton = document.querySelector('#system-message button');

    sytemMessageCloseButton.addEventListener('click', () => {
        systemMessage.classList.remove('show');
    });
    if (typeof (systemMessageContent) !== 'undefined') {
        SystemMessagetimeoutID = setTimeout(() => {
            systemMessage.classList.remove('show');
        }, SYSTEM_MESSAGE_TIMEOUT_MS);
    }

    // Add event listener to hide system message when clicking outside
    function hideSystemMessage(event) {
        if (!systemMessage.contains(event.target) && systemMessage.classList.contains('show')) {
            systemMessage.classList.remove('show');
        }
    }

    document.addEventListener('click', hideSystemMessage);
    document.addEventListener('scroll', hideSystemMessage);


    function showSystemMessage(message, type = 'info') {


        // Cancel the previous timeout if it exists
        if (SystemMessagetimeoutID) {
            clearTimeout(SystemMessagetimeoutID);
        }

        systemMessageContent.innerHTML = message;
        systemMessage.classList.remove('bg-primary', 'bg-danger', 'bg-success', 'bg-warning', 'bg-info');
        systemMessage.classList.add('bg-' + type);
        systemMessage.classList.add('show');

        // Set a new timeout and store its ID
        SystemMessagetimeoutID = setTimeout(() => {
            systemMessage.classList.remove('show');
        }, SYSTEM_MESSAGE_TIMEOUT_MS);
    }




    document.getElementById('mobile-menu-toggle').addEventListener('click', function () {
        var menu = document.getElementById('mobile-menu');
        var navbar = document.getElementById('navbar');
        var navbarHeight = navbar.offsetHeight;
        menu.style.top = navbarHeight + 'px';
        menu.classList.toggle('hidden');
    });
    // Overlay was shown when page is loaded from the browser's back button
    // When aver having shown it on prev page off course.
    window.addEventListener('pageshow', (event) => {
        if (event.persisted) { // Check if the page was loaded from bfcache
            document.getElementById('overlay').classList.add('hidden'); // Hide the overlay
            systemMessage.classList.remove('show');
        }
    });

</script>
<script defer data-domain="set2tracks.com" src="https://plausible.io/js/script.js"></script>

</html>