{% extends "base.html" %}

{% block content %}

<div class="justify-center aspect-video ">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zIKrLGGlsFw?si=mm0li-yoeTK0zfdy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div class="text-center mt-6">
  <a href="{{url_for('set.sets')}}" class="btn btn-primary text-xl mt-6">
    Start Exploring
  </a>
</div>
{% endblock %}