{% extends "base.html" %}

{% block content %}
<div class="container mx-auto py-8">



  <table class="min-w-full text-left text-sm space-x-4 space-y-4">
    <thead>
      <tr>
        <th class="px-4 py-4">Features</th>
        <th class="px-4 py-4">Free</th>
        <th class="px-4 py-4">Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border-t px-4 py-4">Playlists</td>
        <td class="border-t px-4 py-4">3</td>
        <td class="border-t px-4 py-4">Unlimited</td>
      </tr>
      <tr>
        <td class="border-t px-4 py-4">Import Sets from YouTube</td>
        <td class="border-t px-4 py-4">✕</td>
        <td class="border-t px-4 py-4">Unlimited</td>
      </tr>
      <tr>
        <td class="border-t px-4 py-4">Export and sync to Apple Music</td>
        <td class="border-t px-4 py-4">✕</td>
        <td class="border-t px-4 py-4">✓</td>
      </tr>
      <tr>
        <td class="border-t px-4 py-4">Export and sync to Spotify</td>
        <td class="border-t px-4 py-4">✕</td>
        <td class="border-t px-4 py-4">✓</td>
      </tr>
      <tr>
        <td class="border-t px-4 py-4">Related Tracks</td>
        <td class="border-t px-4 py-4">Limited</td>
        <td class="border-t px-4 py-4">Unlimited</td>
      </tr>
      <tr>
        <td class="border-t px-4 py-4">Explore</td>
        <td class="border-t px-4 py-4">✓</td>
        <td class="border-t px-4 py-4">✓</td>
      </tr>
     
    </tbody>
  </table>

</div>
{% endblock %}