{% extends "base.html" %}

{% block content %}



<div class="md:flex md:flex-col items-center">
  <!-- Title on top -->
  <div class="w-full text-center my-4">
    <h1 class="text-3xl">{{ playlist.title }} <a href="{{ url_for('playlist.playlist_edit', playlist_id=playlist.id) }}" class="text-sm align-super">
        Edit
      </a></h1>
  </div>

  <!-- Two-column layout for image and buttons -->
  <div class="mt-5 md:mt-0 md:flex my-4 justify-center ">
    <!-- Left column: Image -->
    <div class="md:mr-8 relative w-60 mb-8 md:mb-0 mx-auto">
      <div class="relative w-60">
        {% include 'snippets/playlist_image.html' %}
      </div>
      <div class="absolute bottom-0 right-0 p-2 m-2 text-white bg-black  rounded-lg text-xs text-right">
        <p>{{playlist.nb_tracks}} tracks</p>
        <p>~{{ playlist.duration // 60 }} min <span class="tooltip" data-tip="Indicative value. We don't have all songs duration.">*</span></p>
      </div>
    </div>

    <!-- Right column: Buttons -->
    <div class="flex flex-col justify-start space-y-4 border b-1 p-4">

      <a disabled="true" data-href="{{ url_for('playlist.playlist_to_spotify', playlist_id=playlist.id) }}" href="#" class="export-sync btn justify-start">
        <img class="w-9 h-9" src="{{url_for('static',filename='im/Spotify_Primary_Logo_Green_RGB.svg')}}" alt="">
        <span class="export{% if playlist.playlist_id_spotify %} hidden{% endif %}">Export to </span><span class="sync{% if not playlist.playlist_id_spotify %} hidden{% endif %}">Update to </span>Spotify
        
      </a>


      <a disabled="true" data-href="{{ url_for('playlist.playlist_to_apple', playlist_id=playlist.id) }}" href="#" class="btn export-sync justify-start">
        <img class="w-9 h-9" src="{{url_for('static',filename='im/Apple_Music_Icon_RGB_sm_073120.svg')}}" alt="">
        <span class="export{% if playlist.playlist_id_apple %} hidden{% endif %}">Export to </span><span class="sync{% if not playlist.playlist_id_apple %} hidden{% endif %}">Update to </span>Apple Music
        
      </a>


      <hr class="my-4">
      {% if playlist.set_id %}
      <a href="{{ url_for('set.set', set_id=playlist.set_id) }}" class="tooltip" data-tip="The set from which playlist was created">
        View set from playlist </a>

      {% endif %}

      {% if playlist.playlist_id_spotify %}
      <a target="_blank" href="https://open.spotify.com/playlist/{{playlist.playlist_id_spotify}}" class="tooltip">See on Spotify <svg class="w-6 h-6 fill-base-content hover:fill-primary inline ">
          <use xlink:href="#icon-link-external"></use>
        </svg></a>
      {% endif %}

      {% if playlist.playlist_id_apple %}
      <a target="_blank" href="https://music.apple.com/library/playlist/{{playlist.playlist_id_apple}}" class="tooltip">See on Apple <svg class="w-6 h-6 fill-base-content hover:fill-primary inline ">
          <use xlink:href="#icon-link-external"></use>
        </svg></a>
      {% endif %}


    </div>
  </div>
</div>

<h1 class="text-xl font-semibold mt-8 ">Tracks in playlist</h1>






{% include 'tracklist.html' %}

</div>

<script src="{{url_for('static',filename='js/Sortable.js')}}"></script>


<script>
  //var tracks = document.querySelectorAll('.track');
  PLAYLIST_ID = '{{ playlist.id }}';
  const trackList = document.getElementById('playlist');

  document.querySelectorAll('.track .addTrackToRecentPlaylist').forEach((element, index) => {
    element.classList.add('hidden');
  });


  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.export-sync').forEach(function (element) {

      element.removeAttribute('disabled');
      element.addEventListener('click', function (e) {

        const target = e.target.closest('.export-sync'); // otherwise the event can be triggered on the inner span
        target.setAttribute('disabled', true);
        const uri = target.getAttribute('data-href');
        console.log('target', target);
        console.log('target uri', uri);
        e.preventDefault();
        e.stopPropagation();


        return processAjax(uri, 'GET', {}, (res) => {
          if (res?.error) {
            console.log(res.message);
            target.removeAttribute('disabled');
            return;
          }
          target.removeAttribute('disabled');

          const exportText = target.querySelector('.export');
          const syncText = target.querySelector('.sync');

          exportText.classList.add('hidden');
          syncText.classList.remove('hidden');
          console.log(res.message);

        });
      });
    });
  });




  document.querySelectorAll('.track .remove-track-from-playlist').forEach((element, index) => {
    element.classList.remove('hidden');
    element.addEventListener('click', function (e) {
      e.preventDefault();
      e.stopPropagation();
      const trackId = e.target.closest('.track').getAttribute('data-track-id');
      const payload = {
        "playlist_id": PLAYLIST_ID,
        "track_id": trackId
      }
      const onSuccess = (res) => {
        console.log(res.message);
        e.target.closest('.track').remove();
        rebuildTrackPositions();
      }

      return processAjax('{{ url_for("playlist.jax_remove_track_from_playlist") }}', 'POST', payload, onSuccess);

    })
  });



  document.querySelectorAll('.track').forEach((element, index) => {
    element.setAttribute('data-pos', index + 1);
  });
  function rebuildTrackPositions() {
    document.querySelectorAll('.track').forEach((element, index) => {
      const pos = index + 1;
      element.setAttribute('data-pos', pos);
      const posDiv = element.querySelector('.track-number');
      posDiv.innerHTML = pos;
    });
  }



  function saveTrackOrderToServer(payload) {

    return processAjax('{{ url_for("playlist.update_position") }}', 'POST', payload);

  }
  new Sortable(trackList, {
    animation: 150,
    dragClass: 'drop-shadow-lg',
    //ghostClass: 'bg-primary',
    onEnd: function (e) {
      var itemEl = e.item;  // dragged HTMLElement
      console.log('indexes:', e.oldIndex, e.newIndex);
      if (e.oldIndex === e.newIndex) {
        return;
      }

      rebuildTrackPositions();

      const payload = {
        "playlist_id": PLAYLIST_ID,
        "track_id": e.item.getAttribute('data-track-id'),
        "new_position": e.newIndex + 1
      }

      return saveTrackOrderToServer(payload)

    },
  });
</script>


{% endblock %}