{% extends "base.html" %}

{% block content %}
<div class="container mx-auto py-8">

  <h2 class="text-4xl font-bold mb-4 text-primary">Take Your DJ Game to the Next Level</h2>
  <p class="text-lg mb-6">Get inspired like, Discover new music and prepare your sets in 1/10 of the time</p>
  <table class="min-w-full text-left text-sm space-x-4 space-y-4">
    <thead>
      <tr>
        <th class="px-4 py-4">Features</th>
        <th class="px-4 py-4">Free</th>
        <th class="px-4 py-4">Pro</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border-t px-4 py-4">Explore sets tracks and channels</td>
        <td class="border-t px-4 py-4">✓</td>
        <td class="border-t px-4 py-4">✓</td>
      </tr>
      <tr>
        <td class="border-t px-4 py-4">Playlists</td>
        <td class="border-t px-4 py-4">3</td>
        <td class="border-t px-4 py-4">∞</td>
      </tr>
      <tr>
        <td class="border-t px-4 py-4">Import Sets from YouTube</td>
        <td class="border-t px-4 py-4">✕</td>
        <td class="border-t px-4 py-4">∞</td>
      </tr>
      <tr>
        <td class="border-t px-4 py-4">Export your playlists to Apple Music</td>
        <td class="border-t px-4 py-4">✕</td>
        <td class="border-t px-4 py-4">✓</td>
      </tr>
      <tr>
        <td class="border-t px-4 py-4">Export your playlists  to Spotify</td>
        <td class="border-t px-4 py-4">✕</td>
        <td class="border-t px-4 py-4">✓</td>
      </tr>
      <tr>
        <td class="border-t px-4 py-4">Related Tracks</td>
        <td class="border-t px-4 py-4">✕</td>
        <td class="border-t px-4 py-4">∞</td>
      </tr>
      <tr>
        <td class="border-t px-4 py-4"></td>
        <td class="border-t px-4 py-4"></td>
        <td class="border-t px-4 py-4"><a href="#" class="btn btn-primary">
          Upgrade
        </a></td>
      </tr>
      
     
    </tbody>
  </table>

</div>
{% endblock %}