{% extends "base.html" %}

{% block content %}
<script>
  function replayAudio() {
    var audio = document.getElementById('myAudio');
    audio.currentTime = 0; 
    audio.play(); 
  }
   // Function to set a cookie
   function setCookie(name, value, days) {
    var expires = "";
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "") + expires + "; path=/";
  }

  // Function to get a cookie value by name
  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) === ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }

  // Function to check or uncheck a checkbox based on the cookie value
  function setCheckboxFromCookie(checkboxId, cookieName, defaultValue) {
    var cookieValue = getCookie(cookieName);
    var checkbox = document.getElementById(checkboxId);
    checkbox.checked = cookieValue === null ? defaultValue : cookieValue === 'true';
  }

  // Function to update the cookie when the checkbox value changes
  function updateCheckboxCookie(checkboxId, cookieName) {
    var checkbox = document.getElementById(checkboxId);
    checkbox.addEventListener('change', function () {
      setCookie(cookieName, checkbox.checked, 7); // Persist for 7 days
    });
  }

  // Initialize checkboxes on page load
  document.addEventListener('DOMContentLoaded', function () {
    setCheckboxFromCookie('send_email', 'send_email', true); // Default to true
    setCheckboxFromCookie('play_sound', 'play_sound', true); // Default to true

    updateCheckboxCookie('send_email', 'send_email');
    updateCheckboxCookie('play_sound', 'play_sound');
  });
</script>
<audio id="myAudio">
  <source src="{{url_for('static',filename=notif_sound)}}" type="audio/mpeg">
 
</audio>
<div class="flex items-center justify-center pt-20">
  <div class="form-wrapper">
    <h1 class="text-xl text-center font-semibold leading-7 mb-12">Add DJ set → Get tracks.</h1>

    <form action="/add" method="POST" class="mt-4">
      <div class="mt-1">
        <input type="text" id="youtube_url" name="youtube_url" placeholder="{{_('Paste YouTube Video URL or ID')}}" value="{{youtube_url}}"/>
      </div>

      <!-- Text for when the set is imported and ready -->
      <div class="mt-4">
        <p>When the set is imported and ready:</p>
      </div>

      <!-- Checkbox to send email -->
      <div class="m-4 mb-0">
        <label for="send_email">
          <input type="checkbox" id="send_email" name="send_email" /> {{_('Send me an email')}}
        </label>
      </div>

      <!-- Checkbox to play sound -->
      <div class="m-4 mt-0">
        <label for="play_sound">
          <input type="checkbox" id="play_sound" name="play_sound" /> <span onclick="replayAudio()">{{_('Play a sound')}}</span>
        </label>
      </div>

      <button type="submit" class="btn btn-primary w-full">{{_('Add Set')}}</button>
    </form>
  </div>
</div>




{% endblock %}