<script>
  const fooCallBack = (e) => '';

  /**
 * Sends an AJAX request to the specified URL with the given options.
 *
 * @param {string} url - The URL to send the request to.
 * @param {string} [method='POST'] - The HTTP method to use for the request (default: 'POST').
 * @param {Object} [payload={}] - The payload to include in the request body (default: empty object).
 * @param {function} [onSuccess=fooCallBack] - The callback function to execute on a successful response (default: fooCallBack).
 * @param {function} [onError=fooCallBack] - The callback function to execute on an error response (default: fooCallBack).
 * @returns {Promise} A promise that resolves to the response data or rejects with an error.
 */
  function processAjax(url, method = 'POST', payload = {}, onSuccess = fooCallBack, onError = fooCallBack, showSystemMessageAfter = true) {

    // Define the fetch options
    let fetchOptions = {
      method: method,
      headers: {
        'Content-Type': 'application/json'
      }
    };

    // If the method is not GET, include the payload in the body
    if (method.toUpperCase() !== 'GET') {
      fetchOptions.body = JSON.stringify(payload);
    }


    return fetch(url, fetchOptions)
      .then(response => response.json().then(result => {

        const responseData = {
          status_code: response.status,
          message: result?.message,
          error: result?.error,
          redirect: result?.redirect
        };

        console.log(responseData);

        if (response.ok && !responseData.error) {
          if (showSystemMessageAfter) showSystemMessage(responseData.message);

          onSuccess(responseData);
        } else {
          if (showSystemMessageAfter) showSystemMessage(responseData.error, 'warning');
          onError(responseData);
        }

        if (response?.redirect) { // @TODO check if this is necessary
          console.log('redirecting to', response.redirect)
          window.location.href = response.redirect;
          return;
        }

        if (result?.redirect) {
          console.log('redirecting to', result.redirect)
          window.location.href = result.redirect;
          return;
        }

        return responseData;
      }))
      .catch(error => {
        const errorData = {
          status_code: 500,
          error: 'Network error or server is down' + error
        };
        showSystemMessage(errorData.error, 'warning');
        onError(errorData);

        return errorData;
      });
  }

  function replayNotifSound() {
    var audio = document.getElementById('notifSound');
    audio.currentTime = 0;
    audio.play();
  }

  function testAudioPlayUntilSuccess() {
    // Play silent audio until successful, 
    // cause browsers block audio play without user interaction
    return new Promise((resolve) => {
      const silentAudio = "{{url_for('static', filename='750-milliseconds-of-silence.mp3')}}";
      const audio = new Audio(silentAudio); // Create an audio object with silent audio

      const tryPlay = () => {
        audio.play().then(() => {
          console.log("Silent audio played successfully.");
          resolve();
        }).catch((error) => {
          console.error("Error playing silent audio. Retrying in 1 second...", error);
          setTimeout(tryPlay, 1000); // Retry after 1 second if play fails
        });
      };

      // Start trying to play the silent audio
      tryPlay();
    });
  }



  testAudioPlayUntilSuccess().then(() => {
    checkUserQueue();
  });

  function checkUserQueue() {
    // Check the user queue every 60 seconds
    processAjax("{{url_for('set.jax_check_user_queue')}}", 'GET', {}, (response) => {
      replayNotifSound();
      showSystemMessage(response.message);
      setTimeout(checkUserQueue, 60000);
    }, (error) => {
      if (error.status_code === 302) {
        return;
      }
      console.log(error);
      if (error?.error) {
        replayNotifSound();
        showSystemMessage(error.error, 'warning');
        setTimeout(checkUserQueue, 60000);

      }
    }, false);
  }
</script>

{{url_for('static', filename=notif_sound)}}