<script>

  var audioUrl = '';
  var checkTrackPlayerHead = null;




  function getStartPercentFromMousePosition(track, mouseX) {

    const trackRect = track.getBoundingClientRect();
    const relativeMouseX = mouseX - trackRect.left;
    const percentagePosition = relativeMouseX / trackRect.width * 100 //parseFloat((relativeMouseX / trackRect.width * 100).toFixed(2));
    return percentagePosition;
  }


  var audioPlayer = document.getElementById('audio-player');

  function audioPlayerPlay(track, startPercent = 0) {
    // if (typeof player !== 'undefined') {
    //   console.log('set page deccted');
    //   return;
    // }
    audioUrl = track.getAttribute('data-preview-url');
    if (!audioUrl) {
      console.log('no audio url');
      track.classList.remove('active', 'playing');
      track.style.setProperty('--background-width', `0%`);
      const nextTrack = findNextTrackElement(track);
      if (nextTrack) {
        nextTrack.classList.add('active', 'playing');
        audioPlayerPlay(nextTrack);
        return;
      } else {
        console.log('no next track');
        return;
      }
    }

    // Check if the new source is different from the current one
    if (audioPlayer.getAttribute('src') !== audioUrl) {
      clearInterval(checkTrackPlayerHead);




      audioPlayer.pause(); // Pause first before loading a new source
      audioPlayer.currentTime = 0; // Reset the player

      audioPlayer.setAttribute('src', audioUrl);
      audioPlayer.load(); // Load the new audio source

      // Show loading animation or message here if needed
      const playPromise = audioPlayer.play();

      if (playPromise !== undefined) {
        playPromise.then(() => {
          console.log('Playback started successfully.');
          checkTrackPlayerHead = setInterval(function () {
            const percentageWidth = parseFloat((audioPlayer.currentTime / audioPlayer.duration * 100).toFixed(2));
            track.style.setProperty('--background-width', `${percentageWidth}%`);
            if (percentageWidth >= 100) {
              clearInterval(checkTrackPlayerHead);
              const nextTrack = findNextTrackElement(track);
              console.log('track:', track);
              console.log('nextTrack:', nextTrack);
              if (nextTrack) {
                track.classList.remove('active', 'playing');
                track.style.setProperty('--background-width', `0%`);
                nextTrack.classList.add('active', 'playing');
                audioPlayerPlay(nextTrack);
              }
            }
          }, 50);
        }).catch(error => {
          console.error('Playback failed or was interrupted:', error);
          // Show paused or error UI if needed
        });
      }
    } else {
      if (startPercent > 0 && !isNaN(audioPlayer.duration)) {
        audioPlayer.currentTime = audioPlayer.duration * startPercent / 100;
      }

      const playPromise = audioPlayer.play();
      if (playPromise !== undefined) {
        playPromise.catch(error => {
          console.error('Playback failed or was interrupted:', error);
          // Handle error UI here if needed
        });
      }
    }
  }


  function findNextTrackElement(currentElement) {
    return currentElement.nextElementSibling ? currentElement.nextElementSibling.closest('.track') : null;
  }

  function trackListEvent(event, startPercent = undefined) {
    // deactivate on video pages
    const tracklist = document.getElementById('tracklist');
    if (tracklist.classList.contains('video-tracklist'))
      return;
    // if (typeof player !== 'undefined') {
    //   // Cancel the event as soon as we detect a video
    //   // Have to do this because this script is loaded before the video script
    //   removeEventListener('click', trackListEvent);
    //   return;
    // }

    let linkElement = event.target.closest('a'); // Find the closest <a> tag
    if (linkElement && !linkElement.classList.contains('play-track-preview')) {
      event.stopPropagation();
      return;
    }

    var target = event.target.closest('div.track');


    if (target) {
      // first remove active class from all tracks


      if (target.classList.contains('playing')) {
        console.log('playing the same track')
        if (typeof (startPercent) === 'undefined') {
          const mouseX = event.clientX;
          startPercent = getStartPercentFromMousePosition(target, event.clientX);
        }
        audioPlayerPlay(target, startPercent)

      } else {
        console.log('playing a new track')
        document.querySelectorAll('.track').forEach(track => {
          track.classList.remove('active', 'playing');
          track.style.setProperty('--background-width', `0%`);
        });
        target.classList.add('active', 'playing');
        audioPlayerPlay(target, startPercent);

      }


    } else {
      console.log('no target');
    }
  }

  var trackList = document.getElementById('tracklist');
  var topTrack = document.getElementById('track');
  console.log('tyopo player:', typeof player);


  trackList.addEventListener('click', trackListEvent);
  if (topTrack) {
    topTrack.addEventListener('click', trackListEvent);
  }



  document.querySelectorAll('.play-track-preview').forEach(link => {

    link.addEventListener('click', function (event) {
      event.preventDefault();
      event.stopPropagation();
      console.log('play-track-preview clicked')

      //if (typeof player !== 'undefined' && player.getPlayerState() === 1) player.pauseVideo();

      const audioUrl = this.getAttribute('href');

      // if (audioPlayer.getAttribute('src') !== audioUrl) {
      //   audioPlayer.setAttribute('src', audioUrl);
      //   audioPlayer.load(); // Load the new audio source
      //   audioPlayer.play();
      // } else { // if the audio player is already playing the same track

      if (!audioPlayer.paused) {
        // audio is playing. are we playing the same track?
        // if yes, just pause. if no, pause the current track and play the new one
        var target = event.target.closest('div.track');
        console.log('target:', target);
        if (target.classList.contains('playing')) {
          audioPlayer.pause();
          event.target.closest('.track').classList.remove('playing');
          if (typeof player !== 'undefined' && player.getPlayerState() === 2) player.playVideo();

          return;
        } else {
          console.log('playing a new track')
          trackListEvent(event, 0);
          audioPlayerPlay(target, 0);
          return
        }
      } else {
        // audioPlayer.play();
        // event.target.closest('.track').classList.add('playing');
        if (typeof player !== 'undefined' && player.getPlayerState() === 1) player.pauseVideo();
        trackListEvent(event, 0);
      }
      // }


    });
  });




</script>