{% extends "base.html" %}

{% block content %}
<div class="flex justify-end  items-start p-4">
  <a href="{{url_for('playlist.playlist_create')}}" class="btn btn-primary">
    {{_("Create a Playlist")}}
  </a>
</div>
{% if playlists %}
<div class="container mx-auto py-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6  ">
    {% for playlist in playlists %}
    <div class="col overflow-hidden">
      <a href="{{url_for('playlist.show_playlist',playlist_id=playlist.id)}}">
        <div class="relative w-60 h-60 justify-center">
          {% with tpl_utils=tpl_utils %}
          {% include 'snippets/playlist_image.html' %}
          {% endwith %}

          <div class="absolute bottom-0 right-0 p-2 m-2 text-white bg-black  rounded-lg text-xs text-right">
            <p>{{playlist.nb_tracks}} tracks</p>
            <p>~{{ playlist.duration // 60 }} min</p>
            <p>{{tpl_utils.time_ago(playlist.create_date)}}</p>
          </div>
        </div>
      </a>
      <div class="p-4 text-sm">
        <a href="{{url_for('playlist.show_playlist',playlist_id=playlist.id)}}">
          <h3 class="text-white font-semibold hover:text-primary">{{playlist.title}}</h3>
        </a>
      </div>
    </div>

    {% endfor %}

    {% if is_paginated %}
  </div>
    <div class="mt-8 flex justify-center space-x-4">
      
      {% if pagination.prev_url %}
      <a href="{{ pagination.prev_url }}" class="px-4 py-2 btn-primary btn rounded-full">Previous</a>
      {% endif %}
      {% if pagination.next_url %}
      <a href="{{ pagination.next_url }}" class="px-4 py-2 btn-primary btn rounded-full">Next</a>
      {% endif %}
      
    </div>
    {% else %}
    </div>
  
    {% endif %}

    {% else %}
    <div class="flex pt-20 justify-center min-h-screen">
      <p class="text-4xl">Manage and export/sync your playlists to spotify and apple music.</p>
    </div>
  </div>
    {% endif %}
   
    {% endblock %}