{% extends "base.html" %}

{% block content %}



<div class="flex flex-col items-center">
  <!-- Title on top -->
  <div class="w-full text-center my-4">
    <h1 class="text-3xl">{{ playlist.title }} <a href="{{ url_for('playlist.playlist_edit', playlist_id=playlist.id) }}" class="text-sm align-super">
        Edit
      </a></h1>
  </div>

  <!-- Two-column layout for image and buttons -->
  <div class="flex my-4">
    <!-- Left column: Image -->
    <div class="mr-8 relative">
      <div class="relative w-60">
        {% include 'snippets/playlist_image.html' %}
      </div>
      <div class="absolute bottom-0 right-0 p-2 m-2 text-white bg-black  rounded-lg text-xs text-right">
        <p>{{playlist.nb_tracks}} tracks</p>
        <p>~{{ playlist.duration // 60 }} min <span class="tooltip" data-tip="Indicative value. We don't have all songs duration.">*</span></p>
      </div>
    </div>

    <!-- Right column: Buttons -->
    <div class="flex flex-col justify-start space-y-4">

      <a data-href="{{ url_for('playlist.playlist_to_spotify', playlist_id=playlist.id) }}" href="#" id="playlist_to_spotify" class="btn btn-primary{% if playlist.playlist_id_spotify %} hidden{% endif %}">
        Create playlist on Spotify
      </a>

      <a data-href="{{ url_for('playlist.playlist_to_spotify', playlist_id=playlist.id) }}" href="#" id="playlist_sync_spotify" class=" tooltip {% if not playlist.playlist_id_spotify %} hidden{% endif %}" data-tip="Add new tracks to spotify playlist">
        Sync to Spotify
      </a>

      {% if playlist.set_id %}

      <a href="{{ url_for('set.set', set_id=playlist.set_id) }}" class=" tooltip" data-tip="The set from which playlist was created">
        View set from playlist </a>

      {% endif %}


    </div>
  </div>
</div>

<h1 class="text-xl font-semibold mt-8 ">Tracks in playlist</h1>






{% include 'tracklist.html' %}

</div>
{% include 'js_tracklist_no_vid.html' %}
<script src="{{url_for('static',filename='js/Sortable.js')}}"></script>


<script>
  //var tracks = document.querySelectorAll('.track');
  PLAYLIST_ID = '{{ playlist.id }}';


  document.querySelectorAll('.track .add-track-to-recent-playlist').forEach((element, index) => {
    element.classList.add('hidden');
  });


  document.querySelector('#playlist_to_spotify').addEventListener('click', function (e) {
    e.preventDefault();
    e.stopPropagation();
    e.target.setAttribute('disabled', true);
    const uri = e.target.getAttribute('data-href');

    return processAjax(uri, 'GET', {}, (res) => {
      if (res?.error) {
        console.log(res.message);
        e.target.removeAttribute('disabled');
        return;
      }
      e.target.removeAttribute('disabled');
      const syncToSpotify = document.querySelector('#playlist_sync_spotify');
      syncToSpotify.classList.remove('hidden');
      console.log(res.message);
      e.target.classList.add('hidden');
    });
  });

  document.querySelector('#playlist_sync_spotify').addEventListener('click', function (e) {
    e.preventDefault();
    e.stopPropagation();
    e.target.setAttribute('disabled', true);
    const uri = e.target.getAttribute('data-href');
    return processAjax(uri, 'GET', {}, (res) => {
      e.target.removeAttribute('disabled');
      if (res?.error) {
        console.log(res.message);
        
        return;
      }
      console.log(res.message);
    });
  });


  document.querySelectorAll('.track .remove-track-from-playlist').forEach((element, index) => {
    element.classList.remove('hidden');
    element.addEventListener('click', function (e) {
      e.preventDefault();
      e.stopPropagation();
      const trackId = e.target.closest('.track').getAttribute('data-track-id');
      const payload = {
        "playlist_id": PLAYLIST_ID,
        "track_id": trackId
      }
      const onSuccess = (res) => {
        console.log(res.message);
        e.target.closest('.track').remove();
        rebuildTrackPositions();
      }

      return processAjax('{{ url_for("playlist.jax_remove_track_from_playlist") }}', 'POST', payload, onSuccess);

    })
  });



  document.querySelectorAll('.track').forEach((element, index) => {
    element.setAttribute('data-pos', index + 1);
  });
  function rebuildTrackPositions() {
    document.querySelectorAll('.track').forEach((element, index) => {
      const pos = index + 1;
      element.setAttribute('data-pos', pos);
      const posDiv = element.querySelector('.track-number');
      posDiv.innerHTML = pos;
    });
  }



  function saveTrackOrderToServer(payload) {

    return processAjax('{{ url_for("playlist.update_position") }}', 'POST', payload);

  }
  new Sortable(trackList, {
    animation: 150,
    dragClass: 'drop-shadow-lg',
    //ghostClass: 'bg-primary',
    onEnd: function (e) {
      var itemEl = e.item;  // dragged HTMLElement
      console.log('indexes:', e.oldIndex, e.newIndex);
      if (e.oldIndex === e.newIndex) {
        return;
      }

      rebuildTrackPositions();

      const payload = {
        "playlist_id": PLAYLIST_ID,
        "track_id": e.item.getAttribute('data-track-id'),
        "new_position": e.newIndex + 1
      }

      return saveTrackOrderToServer(payload)

    },
  });
</script>


{% endblock %}