{% include 'snippets/track_css.html' %}
{% include 'snippets/track_svg.html' %}

<style>
 .active.playing .song-preview-button svg {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>

<div class="fixed inset-0 bg-transparent z-50 pointer-events-auto hidden" id="block-interactions"></div>

<div class="w-64  bg-primary-content p-4 m-4 rounded-xl shadow-xl border-2 absolute z-50 invisible" id="track-options-contextual-menu">
  <!-- First Title -->
  <h2 class="text-lg font-semibold mb-2 text-primary">Add to tracklist...</h2>
  <!-- First Section -->
  <div class="overflow-y-auto max-h-40 mb-4">

    <ul class="space-y-1">
      {% if user_playlists|length == 0 %}
      <div class="justify-center content-center">
        <a href="{{url_for('playlist.playlist_create',next=current_url)}}" class="block p-2 rounded-xl hover:bg-blue-950">Create Your First Playlist...</a>
      </div>
      {% else %}
      {% for playlist in user_playlists %}
      <li class="flex m-0"><a data-playlist-id="{{playlist.id}}" href="#" class="add-track-to-playlist p-2 rounded-xl hover:bg-blue-950"><span class="line-clamp-1">{{playlist.title}}</span></a></li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>

  <!-- Second Title -->
  <h2 class="text-lg font-semibold mb-2 text-primary">Other</h2>
  <!-- Second Section -->
  <div class="overflow-y-auto max-h-40">
    <ul class="space-y-1">
      <li><a href="{{url_for('playlist.playlist_create',next=current_url)}}" class="block p-2  rounded-xl hover:bg-blue-950">Create a Tracklist</a></li>

    </ul>
  </div>
</div>



<div class="w-full text-left mt-4">
  <div class="flex flex-col" id="tracklist">
    {% if tracks|length != 0 %}
    {% for track in tracks %}
    {% set loop_index = loop.index %}
    {% include 'snippets/track.html' %}
    {% endfor %}
    {% else %}
    <div class=" text-gray-500 py-10">
      <p>Nothing found.
       
      </p>
    </div>
    {% endif %}
  </div>
</div>
<audio id="audio-player" controls class="fixed  bottom-2 left-1/2 transform -translate-x-1/2 z-50 hidden">
  Your browser does not support the audio element.
</audio>



{% include 'js_tracklist.html' %}
{% include 'js_tracklist_no_vid.html' %}