<ul class="mb-20 flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
  <li class="me-2">
      <a href="{{ url_for('admin.admin') }}" aria-current="page" class="inline-block p-4 text-blue-600 bg-transparent rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">Admin</a>
  </li>
  <li class="me-2">
    <a href="{{ url_for('admin.tags') }}" aria-current="page" class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg  dark:bg-gray-800 dark:text-blue-500">Tags</a>
</li>
<li class="me-2">
  <a href="{{ url_for('admin.hidden_sets') }}" aria-current="page" class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg  dark:bg-gray-800 dark:text-blue-500">Sets and Channels</a>
</li>
  
</ul>