{% extends "base.html" %}

{% block content %}
<h1 class="text-3xl block mb-5">Admin</h1>
<div class="container mx-auto py-8">



  {% include 'admin/snippet_admin_nav.html' %}

  <div >

    <div class="flex flex-wrap gap-4">
    content
 
  </div>
  
  </div>

  <!-- Pagination -->
  <!-- Pagination -->
  <div class="mt-8 flex justify-center space-x-4">
    {% if is_paginated %}
    {% if pagination.prev_url %}
    <a href="{{ pagination.prev_url }}" class="px-4 py-2 btn-primary btn rounded-full">Previous</a>
    {% endif %}
    {% if pagination.next_url %}
    <a href="{{ pagination.next_url }}" class="px-4 py-2 btn-primary btn rounded-full">Next</a>
    {% endif %}
    {% endif %}
  </div>

</div>
{% endblock %}